

.tabHeader {
    display: flex;

    &__button {
        width: 50%;
        border: 0.1rem solid $border-color;
        background-color: $border-color;
        padding: 0.5rem;
        
        &.clicked {
            background-color: $background-color;
        }
    }

    &--header {
        .tabHeader__button {
            border: 0.1rem solid $border-color;

            &.clicked {
                border-bottom: none;
            }
        }
    }

    &--footer {
        .tabHeader__button {
            border: 0.1rem solid $border-color;

            &.clicked {
                border-top: none;
            }
        }
    }
}